@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arabic: var(--font-noto-naskh-arabic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-noto-naskh-arabic), Arial, Helvetica, sans-serif !important;
}

body {
  color: var(--foreground);
}
