@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arabic: var(--font-jameel-noori-nastaleeq);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-jameel-noori-nastaleeq), Arial, Helvetica, sans-serif !important;
}

body {
  color: var(--foreground);
}
